@charset "utf-8";
/* main portfolie styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-family: 'roboto', sans-serif;
}
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #f2f0eb url(images/bg.png);
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
}
.main-nav{
	list-style-type: none; /*fjerner bulletpointsne i listen*/
	background-color: #87C680; /* farver laver navigations barens baggrund. */
}
.main-nav li {
	display: inline-block; /*sætter dem på en lige linje*/
	margin: 25px;
	justify-content: space-around;
	padding: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: aqua
}

.main-nav li:hover{
	background-color: #A4D898; 
}
.main-nav li a {
	display:block;
	color: #FFFFF;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "roboto", sans-serif;
	font-size: 15px;
}
#navigation{
	align-content: space-around;
}
#navigation a {
	padding: 10px 15px;
	align-content: space-around;
}
#navigation a:hover {
	background-color: #329D7F;
	border: 1px solid white;
}
h1{
	margin: 20px;
}

#container {
	width: 960px; margin: 0 auto;
}

#logo {
	margin: 10px auto 0 auto; position: relative; width: 183px;
}

*{
	margin: 0;
	padding: 0;
	border: none;
	
	
}

